<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--上面就是xml文件的头信息，也叫约束，是固定的-->
<mapper namespace="com.hyltest.mapper.PartMapper">

    <update id="updatePart">
        update part
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="color != null">
                color = #{color},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="inventory != null">
                inventory = #{inventory},
            </if>
            <if test="singlePrice != null">
                single_price = #{singlePrice},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id} and merchant_id = #{merchantId}
    </update>
</mapper>